### Dates and time

In [1]:
import datetime as dt
import time as tm

# Seconds since the epoch (January 1, 1970)
tm.time()

1651718529.5932877

In [2]:
# Create a timestamp
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2022, 5, 4, 20, 45, 16, 567087)

In [3]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2022, 5, 4, 20, 45, 16)

In [4]:
# time operations using deltas
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [9]:
today = dt.date.today()

#sliding window
today-delta

datetime.date(2022, 1, 24)

In [10]:
today > today - delta

True

### Objects and map()

In [16]:
# OOP
class Person:
    department = 'School of Information'

    def __init__(self, name, location):
        self.name = name
        self.location = location

person = Person('Sara Milazzo','Bologna, Italy')

print(f'{person.name} lives in {person.location} and works in the {person.department} department')

Sara Milazzo lives in Bologna, Italy and works in the School of Information department

In [23]:
# functional programming
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]

cheapest = map(min, store1, store2)
cheapest

In [24]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split(" ")[0]
    last_name = person.split(" ")[-1]
    return f'{title} {last_name}'

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

### Lambdas and List comprehensions

In [25]:
#lambda functions
my_function = lambda a, b, c: a + b
my_function(1,2,3)

3

In [58]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

#def split_title_and_name(person):
    #return person.split(" ")[0] + " " + person.split(" ")[-1]

#option 1
for person in people:
   #print(split_title_and_name(person))
   print((lambda x: x.split(" ")[0] + " " + x.split(" ")[-1])(person))
 
#option 2
#list(map(split_title_and_name, person))
list(map(lambda x: x.split(" ")[0] + " " + x.split(" ")[-1], people))

Dr. Brooks
Dr. Collins-Thompson
Dr. Vydiswaran
Dr. Romero

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [ ]:
# list comprehensions

# regular for loop
my_list = []

for number in range(0,1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

# The same as
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

In [75]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [i*j for i in range(10) for j in range(10)]

True

In [ ]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [a+b+c for a in lowercase for b in lowercase for c in digits]

answer