In [1]:
import numpy as np
import pandas as pd

In [ ]:
string = 'bat, lat, mat, bet, let, met, bit, lit, mit, bot, lot, mot'
result = re.findall('b[ao]t', string)
print(result)

In [ ]:
def l2_dist(a, b):
    result = ((a - b) * (a - b)).sum()
    result = result ** 0.5
    return result 

a = np.random.rand(20,20)
b = np.random.rand(20,20)

In [ ]:
l2_dist(np.reshape(a, 20*20),np.reshape(b, (20*20, 1)))

In [ ]:
print(a.shape)
print(" ")
np.reshape(a, (20*20, 1))
print(a.shape)

In [ ]:
a4 = np.arange(1, 4, 1)
a4

In [ ]:
a5 = np.linspace(1 ,4, 4)
print(a5)
a5.shape

In [ ]:
old = np.array([[1, 1, 1], [1, 1, 1]])
new = old
new[0, :2] = 0

print(old)

In [ ]:
a = np.arange(0,36, 1)
a = np.reshape(a, (6,6))
print(a)
a[2:4, 2:4]

In [ ]:
s = '''Office of Research Administration: (734) 647-6333 | 4325 North Quad
Office of Budget and Financial Administration: (734) 647-8044 | 309 Maynard, Suite 205
Health Informatics Program: (734) 763-2285 | 333 Maynard, Suite 500
Office of the Dean: (734) 647-3576 | 4322 North Quad
UMSI Engagement Center: (734) 763-1251 | 777 North University
Faculty Adminstrative Support Staff: (734) 764-9376 | 4322 North Quad'''

In [ ]:
re.findall('[(]\d{3}[)]\s\d{3}[-]\d{4}', s)

In [ ]:
s = 'I refer to https://google.com and I never refer http://www.baidu.com if I have to search anything'
re.findall('(?<=[https]:\/\/)([A-Za-z0-9.]*)', s)

In [ ]:
text=r'''Everyone has the following fundamental freedoms:
    (a) freedom of conscience and religion;
    (b) freedom of thought, belief, opinion and expression, including freedom of the press and other media of communication;
    (c) freedom of peaceful assembly; and
    (d) freedom of association.'''

import re
pattern = '\(.\)'
print(len(re.findall(pattern,text)))

In [ ]:
import pandas as pd
import scipy.stats as stats
import numpy as np

df = pd.read_csv('NISPUF17.csv')

In [ ]:
da = df[['HAD_CPOX', 'P_NUMVRC']].dropna()

pox = da[(da['HAD_CPOX'] == 2) | (da['HAD_CPOX'] == 1)]
pax = da[(da['HAD_CPOX'] == 2) | (da['HAD_CPOX'] == 1)].drop('P_NUMVRC',axis = 1)
vax = pox['P_NUMVRC'] 

corr, pval = stats.pearsonr(pax, vax)

In [4]:
stud_names = ['James', 'Mike', 'Sally']
staff_names = ['Kelly', 'Sally', 'James']

student_df = pd.DataFrame({'School': ['Business', 'Law', 'Engineering'],
'Names': stud_names})
staff_df = pd.DataFrame({'Role': ['Director of HR', 'Course liason', 'Grader'],
'Names': staff_names})

student_df = student_df.set_index('Names')
student_df

            School
Names
James     Business
Mike           Law
Sally  Engineering

In [5]:
staff_df = staff_df.set_index('Names')
staff_df

                 Role
Names
Kelly  Director of HR
Sally   Course liason
James          Grader

In [6]:
pd.merge(student_df, staff_df, how = 'left', left_index = True, right_index = True)

            School           Role
Names
James     Business         Grader
Mike           Law            NaN
Sally  Engineering  Course liason

In [2]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], 
index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], 
columns = ['Grades'])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [11]:
my_categories= pd.CategoricalDtype(categories = ['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+']
, ordered = True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]

In [12]:
result

excellent    A-
good         B+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [17]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')