### Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [94]:
def my_sum(x,y):
    return x + y

my_sum(3,5)

8

In [7]:
def add_numbers(x, y, z = None):
    if z == None:
        return x + y 
    else:
        return x + y + z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [9]:
def add(x, y, z = None, flag = False):
    if flag == True:
        print("Flag is true!")
    if z == None:
        return x + y
    else:
        return x + y + z

add(1,2,3, flag = True)

Flag is true!

6

### Types and sequences

In [10]:
type('this is a string')

str

In [11]:
type(1)

int

In [12]:
type(1.5)

float

In [13]:
type(None)

NoneType

In [15]:
type(add_numbers)

function

In [16]:
# A tuple is a sequence of variables which is 
# itself inmutable, i.e it has items in an ordering,
# but cannot be changed once created
x = (1, 'a', 2, 'b')
type(x)

tuple

In [17]:
# Lists are like tuples but mutable
x = [1, 'a', 2, 'b']
type(x)

list

In [18]:
# You can change the contends through various methods

# e.g appends adds items to the end
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [19]:
# To look for each item in a list use a for statement
for item in x:
    print(item)

1
a
2
b
3.3

In [24]:
# You also isolate values using indexing
# the len() functions returns the length of the list
i = 0

while i != len(x):
    print(x[i])
    i += 1

1
a
2
b
3.3

In [25]:
# To concatenate lists use + operator
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [26]:
# To repeat values of list use * operator
[1] * 3

[1, 1, 1]

In [27]:
# To look a set membership use the 'in' operator
1 in [1, 2, 3]

True

In [40]:
# strings are just lists
# You can use indexing to do slicing
x = 'This is a string'
print(x[:5])
print(x[-6:])

This
string

In [44]:
# you can do operations on strings like lists
firstname = 'Kevin'
lastname = 'Picado'

print(firstname + ' ' + lastname)
print('Picado' in lastname)

Kevin Picado
True

In [45]:
# You can split strings based on a pattern
firstname = 'Julia Sara Rebecca'.split(' ')[1]
print(firstname)

Sara

In [54]:
# Dictionaries
x = {'Sara': 'sara.milazzo.r@gmail.com', 'Rebecca': 'beccaboo422@gmail.com', 'Julia': 'julia.piliczewska@gmail.com'}
x['Sara']

'sara.milazzo.r@gmail.com'

In [56]:
x['Sara'] = None
x['Sara']

In [57]:
for name in x:
    print(x[name])

None
beccaboo422@gmail.com
julia.piliczewska@gmail.com

In [62]:
for email in x.values():
    print(email)

None
beccaboo422@gmail.com
julia.piliczewska@gmail.com

In [60]:
for name, email in x.items():
    print(name, email)

Sara None
Rebecca beccaboo422@gmail.com
Julia julia.piliczewska@gmail.com

In [64]:
# Unpacking
x = ('Sara', 'Milazzo', 'sara.milazzo.r@gmail.com')

fname, lname, email = x

In [65]:
fname

'Sara'

In [66]:
lname

'Milazzo'

### More on strings

In [67]:
print("Sara" + 2)

TypeError: can only concatenate str (not "int") to str

In [68]:
print('Sara' + str(2))

Sara2

In [75]:
sale_record = {'price': 3.25,
               'num_items': 4,
               'person': 'Sara'}

sale_statement = '{} bought {} item(s) at a price of ${} each for a total of ${}'

print(sale_statement.format(sale_record['person'],
                           sale_record['num_items'],
                           sale_record['price'],
                           sale_record['price'] * sale_record['num_items']))

Sara bought 4 item(s) at a price of $3.25 each for a total of $13.0

### Demonstration: reading and writing csv files

In [1]:
import csv
from IPython import get_ipython
get_ipython().run_line_magic('precision', 2)

# Convert content into a list of dictionaries
with open('mpg.csv') as csvfiles:
    mpg = list(csv.DictReader(csvfiles))

mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [2]:
# Number of dictionaries
len(mpg)

234

In [3]:
#Name of the columns
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [4]:
import builtins
#Average city mpg across all the cars in the .csv file
builtins.sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [5]:
#Average highway mpg across all the cars in the .csv file
builtins.sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [6]:
# Average city mpg given number of cyllinders of car

# Creating a set of the values of 'cyl' will give us the
# unique levels for the number of cyllinders 
cyllinders = set(d['cyl'] for d in mpg)
cyllinders

{'4', '5', '6', '8'}

In [10]:
#Empty list to store calculations
calc_storage = []

#iterate over cyllinder levels
for c in cyllinders:
    sum_mpg = 0
    cyl_type_count = 0
    for d in mpg:
        if d['cyl'] == c:
            sum_mpg += float(d['cty'])
            cyl_type_count += 1
    calc_storage.append((c, sum_mpg / cyl_type_count))

#sort from lower to highest level of cyllinders
calc_storage.sort(key = lambda x: x[0])
calc_storage

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [11]:
# Average highway mpg for a given vehicle class
vehicle_class = set(d['class'] for d in mpg)
vehicle_class

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [12]:
HwayMpg_by_class = []

for v in vehicle_class:
    sum_mpg = 0
    class_type_count = 0
    for d in mpg:
        if d['class'] == v:
            sum_mpg += float(d['hwy'])
            class_type_count += 1
    HwayMpg_by_class.append((v, sum_mpg / class_type_count))

HwayMpg_by_class.sort(key = lambda x: x[0])
HwayMpg_by_class

[('2seater', 24.80),
 ('compact', 28.30),
 ('midsize', 27.29),
 ('minivan', 22.36),
 ('pickup', 16.88),
 ('subcompact', 28.14),
 ('suv', 18.13)]